@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cormorant: var(--font-cormorant);
  --font-poppins: var(--font-poppins);
  --color-secondary: #425339;
  --color-ternary: #93b178;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  --animate-marquee: marquee 20s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;

    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-poppins;

  .swiper-pagination-bullet {
    background-color: #6b8e23;
    opacity: 0.4;
  }

  .swiper-pagination-bullet-active {
    background-color: #6b8e23;
    opacity: 1;
  }
}
